[submodule "firmware/esp-idf"]
	path = firmware/esp-idf
	url = https://github.com/espressif/esp-idf.git
	branch = release/v3.0
[submodule "firmware/esp32/components/micropython/micropython"]
	path = firmware/esp32/components/micropython/micropython
	url = https://github.com/cryptovillage/micropython.git
[submodule "firmware/esp32/components/micropython/micropython-lib"]
	path = firmware/esp32/components/micropython/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
